html, body {
    width: 100%;
    height: 100%;
}

html {
    background-image: url(/image_source/wallpaper.jpg);
    background-size: cover;
}

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}