#nav {
    width: 280px;
    height: 100%;
    background-color: white;
    border-right: 1px solid #A2A2A2;
    float: left;
    opacity: 0.8;
}

/* ============================== */

#profile_zone {
    margin: 25px;
    margin-right: 0px;
}

#profile_zone img {
    border: 1px solid #A2A2A2;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    opacity: 1;
}

#profile_zone #name {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
}

#profile_zone div {
    margin-top: 10px;
}

/* ============================== */

#nav_list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li a{
    display: block;
    padding: 10px;
}

li a.index{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: #4caf50;
    color: black;
}

li a:link, li a:visited {
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

li a:hover:not(.index) {
    background-color: gray;
    color: white;
}

/* ============================== */

#github {
    position: absolute;
    bottom: 0;
    display: flex;
    margin: 0px;
}

#github:link, #github:visited {
    color: black;
    text-decoration: none;
}

#github:hover, #github:active {
    color: gray;
}


#github img {
    width: 20px;
    height: 20px;
    margin: 5px;
    float: left;
}

#github div {
    font-weight: 1000;
    margin-top: 4px;
}