table {
    border-collapse: collapse;
}

th {
    border: 1px solid;
    background-color: black;
    padding: 5px;
    color: white;
}

td {
    border: 1px solid;
    border-color: black;
    padding: 5px;
}