title_a {
    font-weight: 800;
    font-size: 40px;
    color: red;
}

title_b {
    font-weight: 800;
    font-size: 20px;
    color: red;
    float: right;
    text-align: right;
}

#small_title {
    font-weight: 800;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
}

img {
    float: left;
}

#part1 {
    float: left;
    flex: 1;
    width: 48%;
}

#part2 {
    float: right;
    width: 48%;
}

th,
td {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid;
}

th {
    font-size: 25px;
}
